.carousel {
  width: 100%;
  height: 100vh;
  min-height: var(--min-height-carousel);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .slides {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    list-style: none;
    height: 100vh;

    .slide {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .navigations {
    display: flex;
    padding: var(--unit-1);
    border: 2px solid var(--color-brand-1);
    margin: var(--unit-1);

    & > nav {
      flex: 1;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-brand-1);
      flex-shrink: 0;
      padding: 0 calc(var(--unit-1) * 2);
      background-color: transparent;
      margin: 0;
      border-color: transparent;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      width: calc(var(--unit-1) * 16);
      text-align: center;
      border: 2px solid var(--color-brand-1);
    }

    .thumbnails {
      list-style: none;
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        cursor: pointer;
        padding: var(--unit-1);
        border: 2px solid transparent;
        width: calc(var(--unit-1) * 12);
        height: calc(var(--unit-1) * 12);
        opacity: 0.2;
        transition: opacity var(--transition-duration) var(--transition-function);

        &.is-active {
          border-color: var(--color-brand-1);
          opacity: 1;
        }
      }
    }
  }

  .descriptions {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;

    div {
      display: none;
      text-align: center;
      width: 100%;
      height: 50px;
      line-height: 50px;

      &.is-active {
        display: block;
        background-color: rgb(129, 56, 56);
        color: white;
        letter-spacing: 2px;
      }
    }
  }
}
