<section class="main">
  <mat-toolbar>
    <span class="brand" routerLink=''>{{ title }}</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="icon-button shopping-history"
      aria-label="Shopping history"
      routerLink="/history">
      <mat-icon>history</mat-icon>
      <span>Shopping history</span>
    </button>
    <button
      mat-icon-button
      class="icon-button dynamic-list"
      aria-label="Dynamic List"
      routerLink="/dynamic">
      <mat-icon>find_replace</mat-icon>
      <span>Dynamic list</span>
    </button>
  </mat-toolbar>
  <article class="content">
    <router-outlet></router-outlet>
  </article>
</section>
